{% extends "mainapp/base.html" %}

{% block title %}
Search
{% endblock %}

{% block body %}
<br>
<br>
<input id="searchfield" type="text" style="margin-left: 10px; height: 36px;">
<a id="link" href="" onclick="func()" ><button class="btn btn-dark">Search</button></a>



<br>
<br>

<h2 style="text-align: center;">Blogs</h2>
<br>
<p style="text-align: center;color: grey;">{{ search }}</p>
<br>
<div style="width: 100%;display: flex;flex-wrap: wrap;justify-content: space-around;">



    {% for i in blogs %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/media/{{i.image}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{i.title}}</h5>
              <p class="card-text">{{i.content|slice:":100"}} <a href="/mainapp/read-blog/?uuid={{i.uuid}}">See More</a></p>
              <p class="card-text"><small class="text-muted">Author: {{i.user.username}} <a href="/mainapp/follow?followed_to_be={{i.user.username}}">Follow</a></small></p>
              <p class="card-text"><small class="text-muted">{{i.publish_date}}</small></p>
            </div>
          </div>
        </div>
      </div>

{% endfor %}







<script>
    function func(){
        var search_query = document.getElementById('searchfield').value;
        document.getElementById('link').href = `/mainapp/search?query_string=${search_query}`;
    }
</script>


{% endblock %}